div{
	display : block;
	font-family: arial;
	font-weight: bold;
}

#toolbar
{
	width : 100%;
	height :100%;
	position : relative;
	background: #F0F0F0;

}

#menu
{
	height : 100%;
	width : 100%;
	top : 50%;
	background: #F0F0F0;
	position:relative;
	text-align: left;



}

.navbuttons
{
	display: inline;
	margin-left:25px;
}

a
{
	text-decoration: none;
}

#name{
	width : 1250px;
	height : 50px;
	margin-right : auto;
	margin-left : auto;
	padding-top : 2.5%;
}

#space
{
	position : relative;
	top : 0px;
	left : 0px;
	width : 1250px;
	height : 30px;
	margin-right : auto;
	margin-left : auto;
}

body
{
	width : auto;
	height : auto;
	border : 0px;
	margin-right : 0%;
	margin-top : 0%;
	margin-left : 0%;
	background : #F8F8F8 ;


}

#animations
{

	display: inline-block; 
}