body{
	width : 100%;
	margin : 0px;
	padding : 0px;
	height:100%;
	background-image: url("congruent_outline.png")
}


#name{
	margin-top: 10%;
	position: relative;
	z-index:  99;
	font-size : 100px;
	text-align: center;
	font-family : "Calibri";
	color: white;
	background: transparent;
	opacity : 1;
	background-color : rgba(0, 0, 0, 1);


}